# Directories #
/build/
/build-ci/
/deploy/
/bin/
target/
.idea
classes/
META-INF/

# OS Files #
.DS_Store
 *.class

# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

######################
# OSX
######################
.DS_Store

# Thumbnails
._*

######################
# Eclipse
######################
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.loadpath
/.settings/
/.gradle/
/.externalToolBuilders/
.project
.classpath
.springBeans